@tailwind base;
@tailwind components;
@tailwind utilities;

.card{
    @apply bg-red-300 py-2 px-6 rounded my-2;
}

h1{
    @apply font-bold text-4xl;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;

}

.shadow{
    box-shadow: 17px 15px 18px #0000003B;
}

.button-shadow{
    box-shadow: 10px 12px 12px #00000057;
}

button{
    padding-left:30px !important;
    padding-right: 30px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    transition: all 0.3s ease-in-out;
}
.primary{

}
.secondary{

}

button:hover{
    padding-left:21px !important;
    padding-right: 21px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 17px;
}